# Вопросы о кинопрокате

## Цель проекта:
Изучить основы работы с библиотекой Pandas, научиться анализировать, извлекать и рассчитывать необходимые данные.

## Задачи проекта:
- Провести первичную обработку данных;
- По необходимости преобразовать данные;
- Ответить на вопросы;
- Записать ответы в словарь answers.

## 1. Импортируем библиотеки

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

## 2. Импортируем данные

In [2]:
data = pd.read_csv('D:/Python/files/Kinoprokat/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1484,tt0758794,65000000,43545364,We Are Marshall,Matthew McConaughey|Matthew Fox|Anthony Mackie...,McG,From the ashes we rose.,When a plane crash claims the lives of members...,124,Drama,Legendary Pictures|Thunder Road Pictures|Wonde...,12/12/2006,6.5,2006
643,tt0478087,35000000,69823199,21,Jim Sturgess|Kevin Spacey|Kate Bosworth|Aaron ...,Robert Luketic,They proved the Vegas Blackjack System was bea...,"Ben Campbell is a young, highly intelligent, s...",123,Drama|Crime,Columbia Pictures|Relativity Media,3/27/2008,6.5,2008
1744,tt0416508,16500000,37311672,Becoming Jane,Anne Hathaway|James McAvoy|Julie Walters|James...,Julian Jarrold,Her own life is her greatest inspiration.,A biographical portrait of a pre-fame Jane Aus...,120,Drama|Romance,Ecosse Films|2 Entertain|Bueprint Pictures,3/2/2007,6.9,2007
1702,tt0496806,85000000,311312624,Ocean's Thirteen,George Clooney|Brad Pitt|Matt Damon|Al Pacino|...,Steven Soderbergh,What are the odds of getting even? 13 to one.,Danny Ocean's team of criminals are back and a...,122,Crime|Thriller,Village Roadshow Pictures|Section Eight|Jerry ...,6/7/2007,6.4,2007
726,tt1637688,40000000,173930596,In Time,Justin Timberlake|Amanda Seyfried|Cillian Murp...,Andrew Niccol,Time Is Power,In the not-too-distant future the aging gene h...,109,Action|Thriller|Science Fiction,Regency Enterprises|Strike Entertainment|New R...,10/27/2011,6.6,2011

Посмотрим описание датасета:

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

## 3.Предобработка

Создадим словарь для ответов:

In [4]:
answers = {}

Добавляем столбец прибыли, он понадобится для расчетов:

In [5]:
data['profit'] = data['revenue'] - data['budget']

## 3.Ответы на вопросы

#### 1. У какого фильма из списка самый большой бюджет?

Выбираем фильм с максимальным бюджетом и вписываем его название в словарь для ответов:

In [6]:
answers['1'] = data[data['budget'] == data['budget'].max()]['original_title'].values[0]

#### 2. Какой из фильмов самый длительный (в минутах)?

Вписываем название самого длительного фильма в словарь для ответов:

In [7]:
answers['2'] = data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

#### 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

#### 4. Какова средняя длительность фильмов?

Считаем среднюю продолжительность всех фильмов:

In [9]:
answers['4'] = data['runtime'].mean()

#### 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5'] = data['runtime'].median()

#### 6. Какой самый прибыльный фильм?

Используем созданную во время предобработки данных новую колонку 'profit' для упрощения решения
Вписываем название самого прибыльного фильма в словарь для ответов:

In [11]:
answers['6'] = data[data['profit'] == data['profit'].max()]['original_title'].values[0]

#### 7. Какой фильм самый убыточный?

In [12]:
answers['7'] = data[data['profit'] == data['profit'].min()]['original_title'].values[0]

#### 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

Считаем идентификаторы всех прибыльных фильмов в словарь для ответов:

In [13]:
answers['8'] = data[data['profit'] > 0]['imdb_id'].count()

#### 9. Какой фильм оказался самым кассовым в 2008 году?

Выбираем все фильмы за 2008 год, сортируем по прибыльности и первый, самый прибыльный фильм записываем в ответы:

In [14]:
answers['9'] = data.loc[
                        data['release_year'] == 2008
                        ].sort_values(['profit'],ascending=False)['original_title'].values[0]

#### 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

Выбираем все фильмы с 2012 по 2014 года, сортируем по убыточности и первый, самый убыточный фильм записываем в ответы:

In [15]:
answers['10'] = data.loc[
                        (data['release_year'] >= 2012) &
                        (data['release_year'] <= 2014)
                        ].sort_values(['profit'])['original_title'].values[0]

#### 11. Какого жанра фильмов больше всего?

Создаем датасет с прибылью и жанрами:

In [16]:
data_genres = data[['imdb_id', 'genres', 'profit']].copy().set_index('imdb_id')

Разделяем жанры, т.к. у многих фильмов несколько жанров:

In [17]:
data_genres.genres = data_genres.genres.str.split('|')

Расширяем датасет жанров, для удобства счета:

In [18]:
data_gen = data_genres.explode('genres')

Из датасета считаем максимальное количество успешных фильмов для самого производимого жанра и вносим название жанра в словарь для ответов:

In [19]:
answers['11'] = pd.pivot_table(data_gen, 
                               index='genres', 
                               aggfunc='count').nlargest(1, 'profit').index[0]

#### 12. Фильмы какого жанра чаще всего становятся прибыльными?

Выберем прибыльные фильмы:

In [20]:
data_pribal = data[data['profit'] > 0]

Создаем датасет с прибылью и жанрами:

In [21]:
data_genres_pr = data_pribal[['imdb_id', 'genres', 'profit']].copy().set_index('imdb_id')

Разделяем жанры, т.к. у многих фильмов несколько жанров:

In [22]:
data_genres_pr.genres = data_genres_pr.genres.str.split('|')

Расширяем датасет жанров, для удобства счета:

In [23]:
data_gen_2 = data_genres_pr.explode('genres')

Из датасета считаем максимальное количество успешных фильмов для самого "надежного" жанра и вносим название жанра в словарь для ответов:

In [24]:
answers['12'] = pd.pivot_table(data_gen_2, 
                               index='genres', 
                               aggfunc='count').nlargest(1, 'profit').index[0]

#### 13. У какого режиссера самые большие суммарные кассовые сборы?

In [25]:
answers['13'] = data.groupby(['director'])['profit'].sum().sort_values(ascending=False).index[0]

#### 14. Какой режисер снял больше всего фильмов в стиле Action?

Создаем выбираем все фильмы экшн:

In [26]:
data_action = data[data.genres.str.contains("Action")]

Превращаем всех режиссеров в одну строку:

In [27]:
data_action = data_action['director'].str.cat(sep='|')

Создаем список разделяя строку по '|' :

In [28]:
data_action = pd.Series(data_action.split('|'))

Считаем количество элементов строке:

In [29]:
data_action = data_action.value_counts(ascending=False)

Записываем самого востребованного для этого жанра режиссера, первого в списке:

In [30]:
answers['14'] = data_action.index[0]

#### 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

Создаем датасет с прибылью и актерским составом:

In [31]:
data_budget = data[['imdb_id', 'cast', 'profit', 'release_year']].copy().set_index('imdb_id')

Выбираем фильмы за 2012 год:

In [32]:
data_2012 = data_budget.loc[data_budget['release_year'] == 2012]

Разделяем актеров, чтобы каждого актера можно было посчитать:

In [33]:
data_2012.cast = data_2012.cast.str.split('|')

C:\Users\RonHuk67\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Расширяем датасет актеров, для удобства счета:

In [34]:
data_cast = data_2012.explode('cast')

Из датасета считаем максимальные сборы, для самого "прибыльного" актера и вносим имя актера в словарь для ответов:

In [35]:
answers['15'] = pd.pivot_table(data_cast, 
                               index='cast', 
                               aggfunc='sum').nlargest(1, 'profit').index[0]

#### 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

Создаем датасет с бюджетом и актерским составом:

In [36]:
data_budget_2 = data[['imdb_id', 'cast', 'budget']].copy().set_index('imdb_id')

Создаем датасет с высокобюджетными фильмами:

In [37]:
data_budget_2 = data_budget_2[data_budget_2['budget'] > data_budget_2['budget'].mean()]

Разделяем актеров, чтобы каждого актера можно было посчитать:

In [38]:
data_budget_2.cast = data_budget_2.cast.str.split('|')

Расширяем датасет актеров, для удобства счета:

In [39]:
data_cast_2 = data_budget_2.explode('cast')

Из датасета считаем максимальное количество высокобюджетных фильмов, для самого востребованного актера и вносим имя актера в словарь для ответов:

In [40]:
answers['16'] = pd.pivot_table(data_cast_2, 
                               index='cast', 
                               aggfunc='count').nlargest(1, 'budget').index[0]

#### 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

Создаем датасет с жанрами и актерским составом:

In [41]:
data_cast_gen = data[['imdb_id', 'genres', 'cast', 'release_year']].copy().set_index('imdb_id')

Разделяем жанры, на случай если у фильма несколько жанров:

In [42]:
data_cast_gen.genres = data_cast_gen.genres.str.split('|')

Создаем датасет с актером Николасом Кейджем:

In [43]:
data_Cage = data_cast_gen[data_cast_gen['cast'].str.contains("Nicolas Cage")]

Расширяем датасет жанров, чтобы каждый жанр был прописан в датасете:

In [44]:
data_Cage_genres = data_Cage.explode('genres')

Из датасета считаем максимальное количество жанров и вносим этот жанр в словарь для ответов:

In [45]:
answers['17'] = pd.pivot_table(data_Cage_genres, 
                               index='genres', 
                               aggfunc='count').nlargest(1, 'release_year').index[0]

#### 18. Самый убыточный фильм от Paramount Pictures

Создаем датасет всех фильмом от компании "Paramount Pictures":

In [46]:
data_paramount = data[data['production_companies'].str.contains("Paramount Pictures")]

Из нового датасета выписываем название самого убыточного фильма в словарь для ответов:

In [47]:
answers['18'] = data_paramount[data_paramount['profit'] == data_paramount['profit'].min()]['original_title'].values[0]

#### 19. Какой год стал самым успешным по суммарным кассовым сборам?

Из датасета считаем максимально прибыльный год и вносим результаты словарь для ответов:

In [48]:
answers['19'] = pd.pivot_table(data, index='release_year', aggfunc='sum').nlargest(1, 'profit').index[0]

#### 20. Какой самый прибыльный год для студии Warner Bros?

Создаем датасет c производственной компанией "Warner Bros":

In [49]:
data_WarnerBros = data[data['production_companies'].str.contains("Warner Bros")]

Из датасета считаем максимально прибыльный год для компании "Warner Bros" и вносим результаты словарь для ответов:

In [50]:
answers['20'] = pd.pivot_table(data_WarnerBros, 
                               index='release_year', 
                               aggfunc='sum').nlargest(1, 'profit').index[0]

#### 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

Создаем датасет с названиями фильмов и датой фильма:

In [51]:
data_release = data[['imdb_id', 'original_title', 'release_date']].copy().set_index('imdb_id')

От даты выхода фильма оставляем только месяц премьеры:

In [52]:
data_release['release_date'] = data_release['release_date'].str.split('/', expand=True)[0]

Меняем название колонки с "release_date" (день премьеры) на "release_month" (месяц премьеры):

In [53]:
data_release.rename(columns={"release_date": "release_month"}, inplace=True)

Из датасета считаем максимальное количество фильмов, вышедших за месяц и вносим результаты счетчика в словарь для ответов:

In [54]:
answers['21'] = pd.pivot_table(data_release, 
                               index='release_month', 
                               aggfunc='count').nlargest(1, 'original_title').index[0]

#### 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

Создаем датасет с датами выхода фильма:

In [55]:
data_release_2 = data[['imdb_id', 'release_date']].copy().set_index('imdb_id')

От даты выхода фильма оставляем только месяц премьеры:

In [56]:
data_release_2.release_date = data_release_2['release_date'].str.split('/', expand=True)[1]

Меняем название колонки с "release_date" (день премьеры) на "release_month" (месяц премьеры):

In [57]:
data_release_2.rename(columns={"release_date": "release_month"}, inplace=True)

Из датасета считаем количество фильмов, вышедших летом (за 6, 7 и 8 месяц - июнь, июль и август соответствено) и вносим результаты счетчика в словарь для ответов:

In [58]:
answers['22'] = data_release_2.loc[data_release_2['release_month'].isin(['6', '7', '8'])].count()[0]

#### 23. Для какого режиссера зима – самое продуктивное время года?

Создаем датасет с датами выхода и режиссерами фильмов:

In [59]:
data_dir_release = data[['imdb_id', 'release_date', 'director']].copy().set_index('imdb_id')

Разделяем режиссеров, на случай если у фильма несколько режисеров:

In [60]:
data_dir_release.director = data_dir_release.director.str.split('|')

Расширяем датасет режиссеров, чтобы каждый режиссер был с датой премьеры:

In [61]:
data_director = data_dir_release.explode('director')

От даты выхода фильма оставляем только месяц премьеры:

In [62]:
data_director.release_date = data_director['release_date'].str.split('/', expand=True)[0]

Меняем название колонки с "release_date" (день премьеры) на "release_month" (месяц премьеры):

In [63]:
data_director.rename(columns={"release_date": "release_month"}, inplace=True)

Создаем датасет с премьерами зимой (за 12, 1 и 2 месяц - декабрь, январь и февраль соответствено):

In [64]:
data_dir_winter = data_director.loc[data_director['release_month'].isin(['12', '1', '2'])]

Из датасета считаем максимальное количество премьер, для самого востребованного зимой режиссера и вносим имя режиссера в словарь для ответов:

In [65]:
answers['23'] = pd.pivot_table(data_dir_winter, 
                               index='director', 
                               aggfunc='count').nlargest(1, 'release_month').index[0]

#### 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

Создаем датасет с названиями фильмов и производственными компаниями:

In [66]:
data_title = data[['imdb_id', 'original_title', 'production_companies']].copy().set_index('imdb_id')

Разделяем производственные компаниями, на случай если у фильма несколько компаний:

In [67]:
data_title.production_companies = data_title.production_companies.str.split('|')

Расширяем датасет производственных компаний, чтобы каждая компания была с каждым своим фильмом:

In [68]:
data_title_pr = data_title.explode('production_companies')

Заменяем название фильма длиной названия фильма:

In [69]:
data_title_pr.original_title = data_title_pr['original_title'].str.len()

Меняем название колонки с "original_title" (оригинальное название) на "length_title" (длина названия):

In [70]:
data_title_pr.rename(columns={"original_title": "length_title"}, inplace=True)

Из датасета считаем максимальную среднюю длину названия для производственной компании и вносим название производственной компании с максимальной средней длиной названия в словарь ответов:

In [71]:
answers['24'] = pd.pivot_table(data_title_pr, 
                               index='production_companies', 
                               aggfunc='mean').nlargest(1, 'length_title').index[0]

#### 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

Создаем датасет с описанием фильмов и производственными компаниями:

In [72]:
data_overview = data[['imdb_id', 'overview', 'production_companies']].copy().set_index('imdb_id')

Разделяем производственные компаниями, на случай если у фильма несколько компаний:

In [73]:
data_overview.production_companies = data_overview.production_companies.str.split('|')

Расширяем датасет производственных компаний, чтобы каждая компания была с каждым своим описанием к фильму:

In [74]:
data_overview_pr = data_overview.explode('production_companies')

Заменяем дефис пробелом, а тире с пробелом пустотой, чтобы не считать тире за слово:

In [75]:
data_overview_pr.overview = data_overview_pr.overview.str.replace("-", " ")
data_overview_pr.overview = data_overview_pr.overview.str.replace("- ", "")

Заменяем описание фильма количеством слов в описании к фильма, считая, что слова разделены пробелом:

In [76]:
data_overview_pr.overview = data_overview_pr['overview'].str.count(' ') + 1

+1 - это последнее слово, т.к. пробелов в описании на 1 меньше, чем слов;

Меняем название колонки с "overview" (описание) на "overview_word_count" (количество слов в описании):

In [77]:
data_overview_pr.rename(columns={"overview": "overview_word_count"}, inplace=True)

Из датасета считаем максимальную среднее количество слов в описании для производственной компании и вносим название производственной компании в словарь ответов:

In [78]:
answers['25'] = pd.pivot_table(data_overview_pr,
                               index='production_companies',
                               aggfunc='mean').nlargest(1, 'overview_word_count').index[0]

#### 26. Какие фильмы входят в 1 процент лучших по рейтингу?

Создаем датасет с названием фильмов и средними оценками:

In [79]:
data_vote = data[['imdb_id', 'original_title', 'vote_average']].copy().set_index('imdb_id')

Создаем переменную и считаем сколько фильмов входит в 1 процент, округляя до целого:

In [80]:
best_1pr = round(data_vote['vote_average'].count()/100)

Создаем датасет, сортируя по максимальной оценке и выбирая 1 процент самых рейтинговых фильмов вносим датасет в словарь ответов:

In [81]:
answers['26'] = data_vote.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False).head(best_1pr)

#### 27. Какие актеры чаще всего снимаются в одном фильме вместе?

Создаем датасет с названием фильмов и актерским составом:

In [82]:
data_cast_film = data[['imdb_id', 'original_title', 'cast']].copy().set_index('imdb_id')

Разделяем имена актеров:

In [83]:
data_cast_film.cast = data_cast_film.cast.str.split('|')

Создаем счетчик экранных дуэтов

In [84]:
pairs = Counter()

В двойном цикле запускаем счетчик актерских дуэтов для каждого фильма:

In [85]:
for i in data_cast_film['cast']:    # цикл для актерского состава в каждом фильме
    for j in combinations(i, 2):    # цикл комбинации двух актеров в актерском составе
        if j not in pairs:
            pairs[j] = 1    # создать счетчик для пары, если её нет в счетчике
        else:
            pairs[j] += 1    # увеличить счетчик для пары, если она уже есть в счетчике

Выбираем самую частый дуэт актеров в фильме и вносим его в словарь ответов:

In [86]:
answers['27'] = pairs.most_common(1)[0][0]

#### Submission

В конце можно посмотреть свои ответы к каждому вопросу:

In [87]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 205,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': original_title
 The Dark Knight                                      8.1
 The Imitation Game                                   8.0
 Interstellar                                         8.0
 Room                                                 8.0
 Inside Out                                           8.0
 Memento                                              7.9
 The Pianist                                          7.9
 Inception                                            7.9
 The Grand Budapest Hotel                             7.9
 The Lord of the Rings: The Return of the King        7.9
 Guardians of the Galaxy                              7.9
 Gone Girl                                            7.9
 The Wolf of Wall Street                              7.9
 12 Years a Slave                                     7.9
 Mr. Nobody                                           7.8
 The Fault in Our Stars                               7.8
 The Lord of the Rings: The Two Towers                7.8
 The Lord of the Rings: The Fellowship of the Ring    7.8
 Spotlight                                            7.8
 Name: vote_average, dtype: float64,
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

И убедиться что ничего не пропущено:

In [88]:
len(answers)

27